
td.selected {
    background-color: cyan;
}

.m, .w, .z {
  text-decoration: underline;
}
body {
    background-color: LightGrey;
    font-family: Sans-serif;
    color: Black;
}

.board td.right {
    transform: rotate(-90deg);
}
.board td.left {
    transform: rotate(90deg);
}
.board td.up {
    transform: rotate(180deg);
}

.board {
    color: red;

}
