body {
  margin: 0;
  background-color:White;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li input {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 70px;
  height: 30px;
  width: 220px;
}
li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  margin-left: 10px;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
