body{
}


#logo{
  background-color: White;
  position: relative;
  top:-60px;
  margin-top: 0px;
}

label,
form input {
  position: relative;
  top: 80px;
  left: 20px;
    z-index: 1;
    margin-bottom: 0px;
}

form p{
  position: relative;
  top: 80px;
  left: 20px;
  font-size: 20px;
    margin-top: 0px;
  margin-bottom: 0px;
  color: RoyalBlue;
}
#checklist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: White;
  position: fixed;
  top: 50px;
  left:0px;
  height: 100%;
  overflow: auto;
    color: Navy;

}
canvas{
  position: relative;
  top: -60px;
  right: auto;
  left:18%;

}
