
td.selected {
    background-color: cyan;
}

.m, .w, .z {
  text-decoration: underline;
}
body {
    background-color: LightGrey;
    font-family: Sans-serif;
    color: Black;
}

.board td.right {
    transform: rotate(-90deg);
}
.board td.left {
    transform: rotate(90deg);
}
.board td.up {
    transform: rotate(180deg);
}

.board {
    color: red;

}


.center-block {
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

canvas { display:block;
    margin:0em auto;
    background:black;
    border:1px solid grey;
}

.chart {
    position: absolute;
    top: 1000px;
    left: 10px;
}

