body{
}


#logo{
  background-color: White;
  position: relative;
  top:-60px;
  margin-top: 0px;
}

label,
form input {
  position: relative;
  top: 80px;
  left: 20px;
    z-index: -9;
    margin-bottom: 0px;
}

form p{
  position: relative;
  top: 80px;
  left: 20px;
  font-size: 20px;
    margin-top: 0px;
  margin-bottom: 0px;
  color: RoyalBlue;
}
#checklist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: LightBlue;
  position: fixed;
  top: 0px;
  left:0px;
  height: 100%;
  overflow: auto;

  z-index: -5;
    color: Navy;

}
/*canvas{
  position: relative;
  top: -60px;
  left:12%;
  z-index: -10;
}*/
